{{#each this}}
<div class="sesame" data-detailurl="{{detail_url}}" data-investurl="{{invest_url}}">
	<div class="content content1 clearfix">
		<p class="left">{{title}}</p>
		<p class="right enddate" data-lasttime="{{surplusSeconds}}"></p>
	</div>
	<div class="content content2 clearfix">
		<div class="left left1">
			<p class="title">封闭期</p>
			<p class="info1"><span>{{closed_period}}</span>天</p>
		</div>
		<div class="right right1">
			<p class="title">预期年化收益</p>
			<p class="main_content clearfix">
				<span class="rate">{{minRate}}</span>
				<span class="sup">{{#if addRate}}+{{addRate}}{{/if}}{{#if vipRate}}+{{vipRate}}<img src="/wechat/static/img/v2/vip_03.png">{{/if}}</span>
				<span class="percent">%</span>
				<span class="rate">&nbsp;&nbsp;~&nbsp;&nbsp;{{maxRate}}</span>
				<span class="sup">{{#if addRate}}+{{addRate}}{{/if}}{{#if vipRate}}+{{vipRate}}<img src="/wechat/static/img/v2/vip_03.png">{{/if}}</span>
				<span class="percent">%</span>
			</p>
		</div>
	</div>
	<div class="content content3 clearfix">
		<p class="left">最长持有时间:{{investPeriod}}天</p>
		<p class="right">募集金额:{{total_amount}}/{{max_amount}}万</p>
	</div>
	{{#compareStatus productStatus surplusSeconds}}
		<div class="invest_btn invest_btn_active">马上投资</div>
	{{else}}
		<div class="invest_btn">已结束</div>
	{{/compareStatus}}
</div>
{{/each}}